<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span>Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{comment.name}}</span>
                </dd>
                <dt><span>Body</span></dt>
                <dd>
                    <span>{{comment.body}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{comment.email}}</span>
                </dd>
                <dt><span>Blog Post</span></dt>
                <dd>
                    <div *ngIf="comment.blogPostId">
                        <a [routerLink]="['/blog-post', comment.blogPostId, 'view']">{{comment.blogPostCaption}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
